@import "tailwindcss";

body {
  font-family: Geist, Arial, Helvetica, sans-serif;
}

input[type="date"] {
  font-family: inherit;
  font-size: 14px;
  color: #868686;
}

textarea {
  resize: none;
}
